suppose we have 1000 data points. and there is a classification problem. then we have 900 positive(yes) data points and 100 negative(no) data points. then such dataset is called as imbalanced dataset.   
To handle such datasets, we have 2 techniques:

### 1. Upsampling:-
    We increase the data points where the data points are less(minority).

### 2. Downsampling:-
    We decrease the datapoints where the data points are more(majority).

In [1]:
import numpy as np
import pandas as pd

In [8]:
#set the random seed for reproducibility:
np.random.seed(123)

#create a dataframe with 2 classes: 
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [9]:
n_class_0,n_sample_1

(900, 100)

### Create dataframe with imbalanced dataset:

In [10]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2' : np.random.normal(loc=0,scale=1,size=n_class_0),
    'target' : [0] * n_class_0

    })

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_1' : np.random.normal(loc=2,scale=1,size=n_class_1),
    'target' : [1] * n_class_1
    
})

In [11]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [12]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [13]:
df.tail()

     feature_1  feature_2  target
995   2.845701        NaN       1
996   0.880077        NaN       1
997   1.640703        NaN       1
998   0.390305        NaN       1
999   2.013570        NaN       1

In [15]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

### Upsampling:

In [17]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [18]:
df_majority

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [19]:
df_minority

     feature_1  feature_2  target
900   2.139033        NaN       1
901   2.025577        NaN       1
902   1.803557        NaN       1
903   3.312255        NaN       1
904   3.187417        NaN       1
..         ...        ...     ...
995   2.845701        NaN       1
996   0.880077        NaN       1
997   1.640703        NaN       1
998   0.390305        NaN       1
999   2.013570        NaN       1

[100 rows x 3 columns]