Label encoding and ordinal encoding are two techniques used to encode categorical data into numerical data.

Label encoding involves assigning a unique numerical label to each catogory in the variable. The labels are usually assigned in alphabetical order or based on the frequency of the category.   
For example:- If we have categorical variable "color" with these values(red green blue). we can represent it using label Encoding as follows:  
1. Red: 1
2. Green: 2
3. Blue: 3

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'color' : ['red','blue','green','green','red','blue']
})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
lbl_encoder = LabelEncoder()

In [6]:
lbl_encoder.fit_transform(df[['color']])

C:\Users\Administrator\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [7]:
lbl_encoder.transform([['red']])

C:\Users\Administrator\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [8]:
lbl_encoder.transform([['blue']])

C:\Users\Administrator\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

### Ordinal Encoding:

**Ordinal Encoding** It is a technique used to convert categorical variables into numerical values, especially when the categories have a natural order (ranking).

For example:

Education Level: ["High School", "Bachelor", "Master", "PhD"]
→ Can be encoded as:

High School → 1

Bachelor → 2

Master → 3

PhD → 4

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [11]:
df = pd.DataFrame({
    'size' : ['small', 'medium', 'large', 'medium', 'small', 'large']
})

In [12]:
df.head()

     size
0   small
1  medium
2   large
3  medium
4   small

### Create an instance OrdinalEncoder and then perform fit_transform:

In [14]:
encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [15]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [16]:
encoder.transform([['large']])

C:\Users\Administrator\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[2.]])

In [17]:
encoder.transform([['small']])

C:\Users\Administrator\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])